<style type="text/css">
	#dashboardContainer{
		padding: 20px;
	}
</style>


<div ng-controller="SignInController" id='dashboardContainer'>
	<a href="#/"><input type="submit" value="Log Out"></a> 
	<h1>Hello {{ this_user[0] }}</h1>

	<div ng-controller="AppointmentController">
		{{ this_error.error }}<br>
		{{ batman }}
	</div>

	

	<!-- Display the appointments here -->
	<!-- Search the List -->
	<h6>Search list by name <input type='text' ng-model='filter_name' placeholder='Search by name'></h6>

	<h3>Updated Appointment List</h3>
	<table class='table'>
		<tr>
			<th>Patient Name</th>
			<th>Appointment Date</th>
			<th>Appointment Time</th>
			<th>Additional Comments</th>
			<th>Delete Appointment</th>
		</tr>
		<!-- Loop through incoming json data -->
		<!-- If want to show newest first, change orderBy:"x.date" to "-x.date" -->
		<tr ng-repeat='x in allAppoints | filter:filter_name | orderBy:"x.date"'>
			<td>{{ x.user_name }}</td>
			<td>{{ x.date }}</td>
			<td>{{ x.time }}</td>
			<td>{{ x.comment }}</td>
			<td><input type='submit' value='Cancel Appointment' ng-click='deleteAppoint(x._id)'></td>
		</tr>
	</table>

	<!-- Link to create appointment -->
	<a href="#/newAppoint"><input type="submit" value="Create Appointment"></a>

</div>




